.font {
  &-30 {
    font-size: 3rem;
  }
  &-28 {
    font-size: 2.8rem;
  }
  &-26 {
    font-size: 2.6rem;
  }
  &-24 {
    font-size: 2.4rem;
  }
  &-22 {
    font-size: 2.2rem;
  }
  &-20 {
    font-size: 2.0rem;
  }
  &-18 {
    font-size: 1.8rem;
  }
  &-16 {
    font-size: 1.6rem;
  }
  &-14 {
    font-size: 1.4rem;
  }
  &-12 {
    font-size: 1.2rem;
  }
  &-10 {
    font-size: 1.0rem;
  }
}
