.cover {
  object-fit: cover;
}
.text-center {
  text-align: center;
}
.border-20 {
  border-radius: 20%;
}
.border-10 {
  border-radius: 10%;
}

.scale-15 {
  transform: scale(1.5);
}

.scale-25 {
  transform: scale(2.5);
}

.text-justify {
  text-align: justify;
}
.line-height {
  &-18 {
    line-height: 1.8rem;
  }
}
.letter-spacing {
  letter-spacing: 0.05rem;
}

.user-none {
  user-select: none;
}

.box-shadow {
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.504);
}

.text-decoration-none {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.underline-2 {
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.pointer {
  cursor: pointer;
}

.contactpage-cont {
  width: 1300px;
}

.card-grid {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 250px;
  padding: 10px;
  justify-content: center;
}

.mobile-size-on {
  display: none;
}
.ham-trans {
  display: none;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  max-height: 300px;
  opacity: 1;
  overflow: hidden;
}
.ham-trans.closed {
  display: none;
  max-height: 0;
  opacity: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .mobile-size-on {
    display: block;
  }
  .ham-trans {
    display: block;
    width: 100%;
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    max-height: 300px;
    opacity: 1;
    overflow: hidden;
  }
  .ham-trans.closed {
    display: block;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
}
@media (max-width: 768px) {
  .mobile-size-off {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
  }
}
