@media (max-width: 479px) {
  .container {
    width: 100%;
  }
  .hello-padding{ 
    padding: 2rem;
  }
  .aboutme-padding{
    padding: 0rem 1rem;
  }
  .image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
  }
  .text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .text-font {
    font-size: 1rem;
    padding : 2rem 0rem 0rem 0rem;
    text-align: start;
  }
  .skills-padding{
    padding: 0rem 2rem;
  }
  .portfolio-padding-title{
    text-align: center;
  }
}

@media (min-width: 480px) {
  .container {
    width: 100%;
    padding-right: 5rem;
  }
  .image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .text-container {
    width: 100%;
    padding-left: 0rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .text-font {
    font-size: 1rem;
    letter-spacing: 0rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .text-container {
    width: 100%;
    padding-left: 0rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .text-font {
    font-size: 1rem;
    letter-spacing: 0.01rem;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
  .image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
  .text-container {
    width: 75%;
    padding-left: 4rem;
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .text-font {
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
  .image-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
  .text-container {
    width: 75%;
    padding-left: 4rem;
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .text-font {
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
  }
}
