.width {
  width: 100%;
}

.project-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  position: relative;
  width: 100%;
  height: fit-content; /* fixed height */
  overflow: hidden; /* ensures image doesn’t spill out */
  color: white;
  text-align: center;
}
.project-card img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* fills the card */
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .width {
    width: 85%;
  }
}

@media (min-width: 1440px) {
  .project-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
  }

  .project-card {
    position: relative;
    font-size: 1.25rem;
    width: 100%;
    height: fit-content; /* fixed height */
    overflow: hidden; /* ensures image doesn’t spill out */
    color: white;
    text-align: center;
    cursor: pointer;
  }
  .project-card img {
    object-fit: cover;
    width: 100%;
    height: 100%; /* fills the card */
  }
  .project-title {
    position: absolute;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba($color: #000000, $alpha: .5);
    backdrop-filter: blur(5px);
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 1.5rem;
  }
}
