.width {
  width: 100%;
}

.project-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  position: relative;
  width: 100%;
  height: fit-content; /* fixed height */
  overflow: hidden; /* ensures image doesn’t spill out */
  color: white;
}
.project-card img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* fills the card */
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .width {
    width: 85%;
  }
}

@media (min-width: 1440px) {
}
